In [1]:
import pandas as pd

In [29]:
from pandas_profiling import ProfileReport

In [12]:
df = pd.read_csv("flight_delays_data.csv", parse_dates=[8])

In [26]:
df["flight_year"] = df["flight_date"].apply(lambda x: x.year)
df["flight_month"] = df["flight_date"].apply(lambda x: x.month)
df["flight_day"] = df["flight_date"].apply(lambda x: x.day)

In [35]:
df.head()

,flight_id,flight_no,Week,Departure,Arrival,Airline,std_hour,delay_time,flight_date,is_claim,flight_year,flight_month,flight_day
0,1582499,UO686,27,HKG,KIX,UO,10,0.4,2016-07-01,0,2016,7,1
1,1582501,CI7868,17,HKG,TNN,CI,11,0.5,2015-04-23,0,2015,4,23
2,1582504,PR301,14,HKG,MNL,PR,11,0.0,2014-04-08,0,2014,4,8
3,1582508,LD327,37,HKG,SIN,LD,3,0.1,2013-09-15,0,2013,9,15
4,1582509,KA5390,40,HKG,PEK,KA,9,0.5,2015-10-05,0,2015,10,5

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 899114 entries, 0 to 899113
Data columns (total 13 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   flight_id     899114 non-null  int64
 1   flight_no     899114 non-null  object
 2   Week          899114 non-null  int64
 3   Departure     899114 non-null  object
 4   Arrival       899114 non-null  object
 5   Airline       897400 non-null  object
 6   std_hour      899114 non-null  int64
 7   delay_time    899114 non-null  object
 8   flight_date   899114 non-null  datetime64[ns]
 9   is_claim      899114 non-null  int64
 10  flight_year   899114 non-null  int64
 11  flight_month  899114 non-null  int64
 12  flight_day    899114 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 89.2+ MB

In [36]:
df.delay_time

array(['0.4', '0.5', '0.0', '0.1', '0.2', '0.3', '0.9', '0.8', '-0.1',
       '1.0', '0.7', '-0.2', '2.4', '0.6', '1.2', '1.4', '1.5',
       'Cancelled', '-0.3', '2.3', '1.7', '3.7', '1.1', '3.8', '1.8',
       '5.4', '1.3', '-0.4', '2.2', '2.6', '16.2', '1.9', '1.6', '5.1',
       '4.8', '-0.7', '3.2', '2.1', '-9.3', '-8.0', '15.8', '2.0', '-7.0',
       '16.0', '3.9', '6.5', '3.5', '3.0', '-3.7', '5.3', '5.0', '2.7',
       '3.4', '5.7', '4.0', '-0.5', '2.8', '3.3', '-7.2', '-9.9', '3.6',
       '3.1', '7.5', '-8.2', '2.9', '2.5', '8.6', '6.8', '5.9', '4.7',
       '-13.9', '5.8', '12.8', '-8.1', '11.0', '-12.4', '10.6', '22.7',
       '18.3', '9.1', '-7.6', '7.8', '-6.6', '15.9', '16.1', '4.1',
       '12.0', '4.3', '4.4', '8.9', '6.0', '6.9', '7.9', '4.5', '-7.9',
       '17.0', '7.4', '7.1', '5.5', '6.4', '-7.7', '12.2', '-6.2', '11.9',
       '23.9', '4.9', '-10.8', '4.6', '9.8', '9.7', '16.8', '-1.6',
       '-12.7', '6.1', '8.7', '6.2', '12.6', '9.9', '17.6', '-7.8',
       '-7.3', '-7.5', '-1.0', '24.0', '4.2', '5.2', '6.6', '-7.1',
       '16.4', '5.6', '-10.4', '-2.1', '-16.0', '17.1', '10.5', '-2.6',
       '7.2', '9.4', '-10.2', '8.0', '7.0', '10.9', '9.5', '16.3', '16.9',
       '-13.7', '9.6', '-0.8', '12.9', '8.3', '14.6', '-14.4', '8.8',
       '7.7', '6.3', '-14.0', '9.3', '-6.7', '-11.5', '16.6', '9.0',
       '-1.2', '8.1', '10.8', '-11.2', '14.5', '12.3', '8.4', '-12.0',
       '7.3', '8.5', '-6.8', '12.4', '8.2', '21.2', '16.7', '-12.9',
       '12.7', '-14.5', '11.8', '-9.8', '-6.9', '-11.9', '-3.3', '6.7',
       '-8.5', '-9.1', '-6.4', '-14.6', '-11.0', '-3.1', '11.1', '-12.1',
       '-4.9', '7.6', '-7.4', '-9.5', '20.9', '-6.3', '-13.1', '-3.2',
       '10.0', '16.5', '13.4', '-10.0', '-5.4', '-10.6', '-13.0', '-5.8',
       '-1.3', '23.7', '11.7', '-3.0', '-1.1', '-4.4', '-10.9', '13.9',
       '-11.6', '10.7', '-0.6', '-5.3', '-9.2', '-9.6', '-15.9', '11.6',
       '24.1', '-8.3', '-13.2', '24.3', '17.4', '14.8', '15.6', '23.8',
       '10.3', '14.3', '-5.6', '-10.5', '-4.3', '-13.4', '-5.0', '-11.3',
       '-10.7', '-5.7', '-10.3', '-2.7', '13.2', '12.1', '-5.5', '17.3',
       '15.2', '-2.4', '10.1', '-6.5', '10.4', '14.1', '-0.9', '-4.1',
       '-6.1', '12.5', '-1.4', '18.9', '18.5', '-2.9', '-2.2', '10.2',
       '9.2', '-15.5', '-11.1', '-1.8', '-2.5', '-10.1', '-13.3', '-12.5',
       '15.1', '-13.6', '19.8', '-14.2', '22.0', '-11.4', '-12.2', '13.8',
       '19.9', '-3.4', '11.3', '-4.7', '-4.2', '-8.9', '-1.7', '-5.9',
       '-1.5', '-16.9', '11.2', '17.2', '-16.2', '11.5', '-4.8', '13.1',
       '-14.7', '-9.4', '-6.0', '11.4', '13.7', '-12.8', '-12.6', '14.9',
       '-8.7', '18.7', '13.0', '-11.7', '-9.0', '-8.8', '-4.0', '21.9',
       '14.0', '13.6', '-1.9', '-2.0', '-3.5', '15.4', '22.1', '-11.8',
       '-9.7', '-14.9', '-13.8', '-15.2', '-4.6', '-5.1', '21.1', '-13.5',
       '14.2', '17.5', '17.8', '-15.8', '-3.8', '20.2', '14.4', '21.4',
       '18.6', '21.6', '22.6', '22.2', '19.3', '15.7', '-15.4', '21.5',
       '-3.9', '20.5', '-16.3', '-16.4', '24.2', '-14.1', '-14.8', '19.0',
       '21.3', '18.8', '21.8', '19.5', '-8.4', '18.4', '-12.3', '-2.8',
       '13.5', '-14.3', '-3.6', '-19.4', '-5.2', '-15.0', '-16.5', '22.4',
       '21.7', '20.1', '14.7', '-17.7', '23.0', '15.3', '13.3', '-17.5',
       '-17.2', '23.5'], dtype=object)